# Introduction

##Conventions
HTTP requests must set the "Content-Type" header to "application/json" for all calls.

Validation of input parameters must be done using the X-expect HTTP Header.

## Versioning
TBD

### Api Version: {{apiVersion}}

## Authorization
Authorization is only used for Customer API, Operations API and Technical Provisioning API.

Each of these APIs are realized by Technical Management and are in fact a subset of the CSB API accessed via specific permission.

# Resources

This API supports a Representational State Transfer (REST) model for accessing a set of resources through a fixed set of operations. 

The following resources are accessible through the RESTful model:

## BasePath: {{basePath}}

## Resource Listing
{{#apiDocuments}}
### Resource {{resourcePath}}
#### Overview
{{{description}}}

{{#apis}}
#### Resource Path `{{path}}`
{{#operations}}
##### Method {{nickname}}
**{{httpMethod}}** `{{path}}`

{{summary}}
{{{notes}}}

###### URL
    {{url}}
###### Parameters
{{#parameters}}
- {{paramType}}

    <table border="1">
        <tr>
            <th>Parameter</th>
            <th>Required</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
        {{#paras}}
        <tr>
            <th>{{name}}</th>
            <td>{{required}}</td>
            <td>{{description}}</td>
            <td>{{#linkType}}<a href="#{{linkType}}">{{type}}</a>{{/linkType}}{{^linkType}}{{type}}{{/linkType}}</td>
        </tr>
        {{/paras}}
    </table>
{{/parameters}}

{{#responseClass}}
###### Response
[{{className}}](#{{classLinkName}}){{^genericClasses}}{{/genericClasses}}{{#genericClasses}}< [{{className}}](#{{classLinkName}}) >{{/genericClasses}}
{{/responseClass}}


###### Errors
<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Reason</th>
    </tr>
    {{#errorResponses}}
        <tr>
            <td>{{code}}</td>
            <td>{{reason}}</td>
        </tr>
    {{/errorResponses}}
</table>

{{#samples}}
###### Samples
{{/samples}}
{{#samples}}
{{sampleDescription}}

- Sample Request

```
{{{sampleRequest}}}
```

- Sample Response

```
{{{sampleResponse}}}
```

{{/samples}}

- - -
{{/operations}}
{{/apis}}
{{/apiDocuments}}

# Data Model
All endpoints act on a common set of data. The CSB APIs use JSON.

## Data Types
{{#dataTypes}}


## <a name="{{name}}">{{name}}</a>

<table border="1">
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Required</th>
        <th>Access</th>
        <th>Description</th>
        <th>Notes</th>
    </tr>
    {{#items}}
        <tr>
			<td>{{#name}}{{{name}}}{{/name}}{{^name}}-{{/name}}</td>
            <td>{{#linkType}}<a href="#{{linkType}}">{{type}}</a>{{/linkType}}{{^linkType}}{{type}}{{/linkType}}</td>
            <td>{{#required}}required{{/required}}{{^required}}optional{{/required}}</td>
            <td>{{#access}}{{{access}}}{{/access}}{{^access}}-{{/access}}</td>
            <td>{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}</td>
            <td>{{#notes}}{{{notes}}}{{/notes}}{{^notes}}-{{/notes}}</td>
        </tr>
    {{/items}}
</table>

{{/dataTypes}}

