<div>
  	<b class="v-customlayout-rounded">
	  	<b class="v-customlayout-rounded-b1">
	  		<b></b>
	  	</b>
	  	<b class="v-customlayout-rounded-b2">
	  		<b></b>
	  	</b>
	  	<b class="v-customlayout-rounded-b3"></b>
	  	<b class="v-customlayout-rounded-b4"></b>
	  	<b class="v-customlayout-rounded-b5"></b>
	  </b>

  	<div class="v-customlayout-rounded-content">
	 	<div location="content">
	 	</div>
	</div>

  	<b class="v-customlayout-rounded">
  		<b class="v-customlayout-rounded-b5"></b>
  		<b class="v-customlayout-rounded-b4"></b>
  		<b class="v-customlayout-rounded-b3"></b>
  		<b class="v-customlayout-rounded-b2">
  			<b></b>
  		</b>
  		<b class="v-customlayout-rounded-b1">
  			<b></b>
  		</b>
  	</b>
</div>
